.flex1 {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 26px;
  padding: 15px 15px;
  font-weight: bold;
  color: #191970;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  margin-right: 30px;
  margin-bottom: 50px;
}
li {
  padding-left: 30px;
  padding-top: 25px;
  font-size: 18px;
}

.flex {
  display: flex;
  align-items: stretch;
  background-color: yellow;
  height: 650px;
}


.box {
  background-color: red;
  font-size: 32px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

.text {
  font-size: 24px;
  margin-top: 30%;
}
.blue_box {
  width: 20px;
  height: 80%;
  background-color: #191970;
}